<div>
  <form [formGroup]="formRegister" (ngSubmit)="save()">
 
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
      <div class="alert alert-danger" *ngIf="formRegister.get('email')?.invalid && formRegister.get('email')?.touched">
        Invalid email format
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <div class="alert alert-danger" *ngIf="formRegister.get('password')?.invalid && formRegister.get('password')?.touched">
        Password must be at least 8 chars, contain a lowercase, uppercase, number, and symbol.
      </div>
    </div>

    <div formGroupName="address">
      <h5>Address</h5>
      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" formControlName="street">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" formControlName="state">
      </div>
      <div class="form-group">
        <label>ZIP</label>
        <input type="text" class="form-control" formControlName="zip">
      </div>
    </div>

 
    <div formArrayName="phones">
      <h5>Phones</h5>
      <div *ngFor="let phone of phones.controls; let i = index" class="form-group d-flex align-items-center">
        <input type="text" class="form-control" [formControlName]="i" placeholder="Phone number">
        <button type="button" class="btn btn-danger ms-2" (click)="removePhone(i)">X</button>
      </div>
      <button type="button" class="btn btn-secondary mt-2" (click)="addPhone()">+ Add Phone</button>
    </div>

    <input type="submit" value="Save" class="btn btn-primary mt-3">
  </form>
</div>
